footer.main-footer {
  position: relative;
  padding-top: 0px;
  display: block;
  clear: both !important;
  overflow: hidden !important; }
  footer.main-footer .anim-icons {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto; }
    footer.main-footer .anim-icons .icon {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat; }
      footer.main-footer .anim-icons .icon img {
        height: auto;
        max-width: 100%;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        display: inline-block;
        transition-delay: 0.1s;
        transition-timing-function: ease-in-out;
        transition-duration: 0.7s;
        transition-property: all; }
    footer.main-footer .anim-icons .icon-1 {
      left: 0px;
      bottom: 150px;
      -webkit-animation: zoom-fade 5s infinite linear;
      animation: zoom-fade 5s infinite linear;
      z-index: 1; }
  footer.main-footer .image-layer {
    background-image: url("../images/bg_footer.png");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  footer.main-footer .footer-top {
    position: relative;
    padding: 105px 0px 40px 0px;
    border-bottom: 1px solid #dddddd !important;
    padding-top: 70px; }
    footer.main-footer .footer-top .widget-title {
      color: #000;
      font-size: 22px;
      margin-bottom: 25px;
      position: relative;
      display: block;
      line-height: 30px;
      font-weight: 500;
      padding-bottom: 9px;
      padding-top: 0; }
    footer.main-footer .footer-top .about-widget {
      position: relative;
      margin-right: 25px; }
      footer.main-footer .footer-top .about-widget .footer-logo {
        max-width: 100%;
        display: block;
        margin-bottom: 32px !important; }
        footer.main-footer .footer-top .about-widget .footer-logo img {
          height: auto;
          max-height: 60px;
          max-width: 100%;
          border: none;
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          display: inline-block;
          transition-delay: 0.1s;
          transition-timing-function: ease-in-out;
          transition-duration: 0.7s;
          transition-property: all; }
      footer.main-footer .footer-top .about-widget .text {
        color: #fff;
        margin-bottom: 21px;
        position: relative;
        font-size: 16px;
        line-height: 36px; }
      footer.main-footer .footer-top .about-widget .phone {
        position: relative;
        font-size: 30px;
        line-height: 40px;
        color: #fff; }
        footer.main-footer .footer-top .about-widget .phone i {
          margin-right: 20px; }
        footer.main-footer .footer-top .about-widget .phone a {
          color: #fff; }
    footer.main-footer .footer-top .links-widget .widget-content ul li {
      padding: 0px;
      margin-bottom: 5px;
      position: relative;
      display: block;
      font-weight: 600;
      list-style: none;
      color: #4527a4; }
      footer.main-footer .footer-top .links-widget .widget-content ul li a {
        display: inline-block;
        font-size: 16px;
        color: #fff; }
    footer.main-footer .footer-top .contact-widget ul.contact-info {
      position: relative;
      margin-bottom: 18px; }
      footer.main-footer .footer-top .contact-widget ul.contact-info li {
        padding: 0px;
        position: relative;
        display: block;
        font-weight: 600;
        list-style: none;
        color: #4527a4;
        margin-bottom: 6px;
        font-size: 16px;
        color: #fff; }
        footer.main-footer .footer-top .contact-widget ul.contact-info li i {
          margin-right: 20px; }
        footer.main-footer .footer-top .contact-widget ul.contact-info li a {
          display: inline-block;
          color: #fff; }
    footer.main-footer .footer-top .contact-widget .social-links li {
      position: relative;
      float: left;
      margin-right: 10px;
      font-weight: 600;
      list-style: none;
      color: #4527a4; }
      footer.main-footer .footer-top .contact-widget .social-links li a {
        position: relative;
        display: inline-block;
        color: #fff;
        font-size: 16px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background: transparent;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-decoration: none; }
  footer.main-footer .footer-bottom {
    padding: 19px 0px;
    position: relative;
    text-align: center; }
    footer.main-footer .footer-bottom .copyright {
      font-size: 16px;
      color: #fff !important; }
      footer.main-footer .footer-bottom .copyright a {
        color: #fff !important; }
    footer.main-footer .footer-bottom .footer-nav {
      margin: 0; }
      footer.main-footer .footer-bottom .footer-nav li {
        position: relative;
        display: inline-block;
        padding-right: 40px;
        margin-right: 35px;
        font-weight: 600;
        list-style: none;
        color: #4527a4; }
        footer.main-footer .footer-bottom .footer-nav li:before {
          position: absolute;
          content: '';
          background: #fff;
          width: 1px;
          height: 16px;
          top: 8px;
          right: 0px; }
        footer.main-footer .footer-bottom .footer-nav li:last-child {
          padding: 0px;
          margin: 0px; }
        footer.main-footer .footer-bottom .footer-nav li a {
          position: relative;
          display: inline-block;
          font-size: 16px;
          color: #fff; }

.scroll-top {
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 105%;
  right: 50px;
  font-size: 16px;
  z-index: 99;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background: #222;
  transition: 1s ease; }
  .scroll-top:hover {
    background: #4527a4;
    -webkit-box-shadow: 2px 2px 0px #222;
    -ms-box-shadow: 2px 2px 0px #222;
    box-shadow: 2px 2px 0px #222; }
  .scroll-top span {
    color: #fff; }

.scroll-top.open {
  bottom: 30px; }

/*# sourceMappingURL=footer.css.map */
