@import url(keyframes.css);
@import url(font.css);
@import url(header.css);
@import url(footer.css);
@import url(responsive.css);
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none; }

body {
  position: relative;
  margin: 0;
  font-size: 15px !important;
  color: #777777 !important;
  line-height: 30px !important;
  font-family: 'Ubuntu', sans-serif !important;
  -webkit-font-smoothing: antialiased; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease; }
  body a {
    text-decoration: none;
    transition: all 500ms ease;
    box-shadow: none; }
    body a:hover {
      text-decoration: none; }
  body ul,
  body li {
    list-style: none; }
  body .elementor {
    width: 100%; }
    body .elementor .anim-icons-bg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 1920px;
      margin: 0 auto; }
      body .elementor .anim-icons-bg .icon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat; }
        body .elementor .anim-icons-bg .icon .img-icon {
          height: auto;
          max-width: 100%;
          border: none;
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          display: inline-block;
          transition-delay: 0.1s;
          transition-timing-function: ease-in-out;
          transition-duration: 0.7s;
          transition-property: all; }
      body .elementor .anim-icons-bg .rotate-me {
        animation-name: rotateme;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: rotateme;
        -webkit-animation-duration: 30s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: rotateme;
        -moz-animation-duration: 30s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: rotateme;
        -ms-animation-duration: 30s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        -o-animation-name: rotateme;
        -o-animation-duration: 30s;
        -o-animation-iteration-count: infinite;
        -o-animation-timing-function: linear; }
    body .elementor .title {
      position: relative;
      display: block;
      font-size: 36px;
      color: #222222;
      font-weight: 500;
      padding-bottom: 31px; }
      body .elementor .title:before {
        position: absolute;
        content: '';
        width: 130px;
        height: 2px;
        bottom: 0px;
        background: linear-gradient(90deg, #00deff 0%, #7141b1 0%, #00deff 100%); }
      body .elementor .title:after {
        position: absolute;
        content: '';
        background: #777777;
        width: 45px;
        height: 4px;
        bottom: 0px;
        transition: all 500ms ease;
        -webkit-mask-image: linear-gradient(-75deg, rgba(244, 55, 55, 0.6) 50%, #f43737 50%, black 70%);
        -webkit-mask-size: 200%;
        animation: shine 2s infinite;
        background: linear-gradient(90deg, #ff7200 0%, #7141b1 0%, #00deff 100%); }
    body .elementor .title-center {
      text-align: center; }
      body .elementor .title-center:before, body .elementor .title-center:after {
        left: 50%;
        transform: translateX(-50%); }
    body .elementor .title-left:after, body .elementor .title-left::before {
      left: 0px; }
    body .elementor .elementor-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      position: relative;
      width: 100%;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start; }
    body .elementor .elementor-transition {
      -webkit-transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
      transition: background 0.3s, border 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;
      -o-transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
      transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s, -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s; }
    body .elementor .clearfix::after {
      display: block;
      clear: both;
      content: ''; }

.theme-layout {
  overflow: hidden; }
  .theme-layout .banner {
    position: relative;
    padding: 195px 0px 110px 0px;
    width: 100%; }
    .theme-layout .banner .anim-icons-bg .icon-1 {
      left: 100px;
      top: 370px;
      -webkit-animation: zoom-fade 2s infinite linear;
      animation: zoom-fade 2s infinite linear; }
    .theme-layout .banner .anim-icons-bg .icon-2 {
      left: 100px;
      top: 50%; }
    .theme-layout .banner .anim-icons-bg .icon-3 {
      left: 100px;
      bottom: 0px; }
    .theme-layout .banner .anim-icons-bg .icon-4 {
      right: 100px;
      bottom: 0px;
      -webkit-animation: zoom-fade 2s infinite linear;
      animation: zoom-fade 2s infinite linear; }
    .theme-layout .banner .anim-icons-bg .icon-5 {
      right: 100px;
      top: 50%; }
    .theme-layout .banner .anim-icons-bg .icon-6 {
      right: 240px;
      top: 200px; }
    .theme-layout .banner .content-box {
      position: relative;
      max-width: 75%;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 38px; }
      .theme-layout .banner .content-box .content-box-title {
        position: relative;
        font-size: 48px;
        line-height: 72px;
        font-weight: 500;
        color: #4527a4;
        margin-bottom: 24px; }
      .theme-layout .banner .content-box .text {
        position: relative;
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 47px;
        padding: 0px 40px;
        color: #777777; }
      .theme-layout .banner .content-box .btn-box .btn-one {
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 16px;
        line-height: 30px;
        color: #4527a4;
        background: transparent;
        border: 1px solid #4527a4;
        text-align: center;
        padding: 14px 42px;
        border-radius: 30px;
        margin: 0px 15px;
        border-color: #4527a4;
        z-index: 1; }
        .theme-layout .banner .content-box .btn-box .btn-one:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: #4527a4;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          -webkit-transform: scale(0.2, 1);
          transform: scale(0.2, 1);
          z-index: -1; }
        .theme-layout .banner .content-box .btn-box .btn-one:hover {
          color: #fff !important;
          background: #4527a4; }
        .theme-layout .banner .content-box .btn-box .btn-one:hover::before {
          opacity: 1;
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1); }
      .theme-layout .banner .content-box .btn-box .video-btn {
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 16px;
        line-height: 30px;
        color: #222;
        background: #e3f1f9;
        padding: 15px 80px 15px 45px;
        border-radius: 30px;
        margin: 0px 15px; }
        .theme-layout .banner .content-box .btn-box .video-btn:hover {
          background: #4527a4;
          color: #fff; }
        .theme-layout .banner .content-box .btn-box .video-btn img {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 60px;
          height: 60px;
          line-height: 60px;
          background: #4527a4;
          color: #fff;
          font-size: 18px;
          border-radius: 50%;
          text-align: center;
          padding: 10px; }
  .theme-layout .work-section {
    position: relative;
    padding: 30px 0 100px; }
    .theme-layout .work-section .sec-title {
      margin-bottom: 60px;
      position: relative;
      display: block; }
      .theme-layout .work-section .sec-title h2 {
        margin-bottom: 60px;
        font-size: 36px;
        line-height: 48px;
        color: #222222; }
      .theme-layout .work-section .sec-title p {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 30px;
        color: #777;
        margin: 0px;
        font-style: normal;
        transition: all 500ms ease; }
    .theme-layout .work-section .single-item .inner-box {
      position: relative;
      background: #fff;
      padding: 60px 40px 80px 50px;
      border-radius: 20px;
      box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1);
      transition: all 500ms ease;
      margin: 0 0 50px; }
      .theme-layout .work-section .single-item .inner-box .pattern-bg {
        position: absolute;
        width: 250px;
        height: 240px;
        top: 0px;
        right: 0px;
        background-repeat: no-repeat;
        border-top-right-radius: 20px;
        background-image: url("../images/pattern.png"); }
      .theme-layout .work-section .single-item .inner-box h3 {
        position: relative;
        display: block;
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: #222;
        margin-bottom: 29px;
        padding-bottom: 40px; }
        .theme-layout .work-section .single-item .inner-box h3:before {
          position: absolute;
          content: '';
          background: #4527a4;
          width: 40px;
          height: 2px;
          left: 0px;
          bottom: 0px; }
      .theme-layout .work-section .single-item .inner-box .text {
        position: relative;
        font-size: 16px;
        line-height: 36px;
        margin-bottom: 15px; }
      .theme-layout .work-section .single-item .inner-box .icon-box {
        position: absolute;
        right: 40px;
        bottom: 25px;
        font-size: 70px;
        line-height: 70px;
        color: #0baabd; }
        .theme-layout .work-section .single-item .inner-box .icon-box img {
          width: 70px; }
      .theme-layout .work-section .single-item .inner-box .link-btn {
        position: absolute;
        left: 60px;
        bottom: -24px;
        transform: scale(0, 0);
        transition: all 500ms ease; }
        .theme-layout .work-section .single-item .inner-box .link-btn a {
          position: relative;
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          background: #4527a4;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 50%; }
          .theme-layout .work-section .single-item .inner-box .link-btn a img {
            width: 30px; }
    .theme-layout .work-section .single-item:hover .inner-box .link-btn {
      transform: scale(1, 1); }
    .theme-layout .work-section .feature-btn {
      position: relative;
      display: block;
      text-align: center;
      margin-top: 103px; }
      .theme-layout .work-section .feature-btn .theme-btn-two {
        padding: 15px 33px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        background: #4527a4;
        border-radius: 30px;
        text-align: center;
        cursor: pointer;
        z-index: 1;
        transition: all 500ms ease; }
        .theme-layout .work-section .feature-btn .theme-btn-two:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: #fff;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          -webkit-transform: scale(0.2, 1);
          transform: scale(0.2, 1);
          z-index: -1; }
        .theme-layout .work-section .feature-btn .theme-btn-two:hover::before {
          opacity: 1;
          -webkit-transform: scale(1, 1);
          transform: scale(1, 1); }
        .theme-layout .work-section .feature-btn .theme-btn-two:hover {
          color: #4527a4;
          background: #fff;
          box-shadow: 0 0 15px rgba(69, 39, 164, 0.5); }
  .theme-layout .deal-section {
    background-repeat: no-repeat;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-bottom: 0px;
    padding: 130px 0px 0px 0px;
    position: relative;
    display: block;
    width: 100%; }
    .theme-layout .deal-section .anim-icons {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 1920px;
      margin: 0 auto; }
      .theme-layout .deal-section .anim-icons .icon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat; }
      .theme-layout .deal-section .anim-icons .icon-1 {
        left: -200px;
        background-image: -webkit-linear-gradient(0deg, #fe40a0 0%, #6242aa 100%);
        width: 145px;
        height: 145px;
        top: 0px;
        border-radius: 50%;
        box-shadow: 0 20px 30px 0px rgba(0, 0, 0, 0.1);
        -webkit-animation: zoom-fade 5s infinite linear;
        animation: zoom-fade 5s infinite linear; }
    .theme-layout .deal-section .inner-box {
      margin-bottom: 105px; }
      .theme-layout .deal-section .inner-box .sec-title {
        margin-bottom: 50px;
        position: relative;
        display: block; }
        .theme-layout .deal-section .inner-box .sec-title h2 {
          line-height: 60px;
          margin-bottom: 50px;
          font-size: 36px; }
        .theme-layout .deal-section .inner-box .sec-title p {
          position: relative;
          display: block;
          font-size: 16px;
          line-height: 30px;
          color: #777;
          margin: 0px; }
      .theme-layout .deal-section .inner-box .lower-content .single-item {
        position: relative; }
        .theme-layout .deal-section .inner-box .lower-content .single-item .icon-box {
          position: absolute;
          left: 0px;
          top: 5px;
          font-size: 25px;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-radius: 50%; }
          .theme-layout .deal-section .inner-box .lower-content .single-item .icon-box img {
            width: 30px; }
        .theme-layout .deal-section .inner-box .lower-content .single-item h3 {
          display: block;
          font-size: 22px;
          line-height: 30px;
          font-weight: 500;
          color: #222;
          margin-bottom: 18px; }
          .theme-layout .deal-section .inner-box .lower-content .single-item h3 a {
            display: inline-block;
            color: #222; }
        .theme-layout .deal-section .inner-box .lower-content .single-item .text {
          font-size: 16px;
          color: #777777; }
        .theme-layout .deal-section .inner-box .lower-content .single-item:last-child .icon-box {
          background: #fff1e1;
          color: #bd6e16; }
        .theme-layout .deal-section .inner-box .lower-content .single-item:first-child .icon-box {
          background: #edfffa !important;
          color: #4527a4 !important; }
    .theme-layout .deal-section .two {
      position: relative;
      top: -50px; }
      .theme-layout .deal-section .two .inner-box {
        margin-bottom: 105px; }
  .theme-layout .deal-section-1 {
    background-image: url("../images/pattern-23.png");
    background-position: center right; }
    .theme-layout .deal-section-1 .lower-content .single-item {
      margin-bottom: 40px;
      padding: 0px 0px 0px 100px; }
  .theme-layout .deal-section-2 {
    background-image: url("../images/pattern-23.png");
    background-position: center left;
    padding: 130px 0px 0px 0px; }
    .theme-layout .deal-section-2 .one .inner-box .content-box {
      position: relative;
      margin-top: 32px; }
    .theme-layout .deal-section-2 .lower-content .single-item {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      padding: 0px 0px 0px 60px; }
      .theme-layout .deal-section-2 .lower-content .single-item .icon {
        color: green;
        font-size: 30px;
        margin: 0 30px 0 0; }
  .theme-layout .case-studies {
    position: relative;
    padding: 110px 0px 130px 0px;
    background-image: -webkit-linear-gradient(-90deg, #3d00ff 0%, #4527a4 100%);
    width: 100%; }
    .theme-layout .case-studies .outer-container {
      position: relative;
      max-width: 1680px;
      width: 100%;
      padding: 0px 15px;
      margin: 0 auto; }
      .theme-layout .case-studies .outer-container .sec-title {
        margin-bottom: 74px; }
        .theme-layout .case-studies .outer-container .sec-title h2 {
          margin-bottom: 60px;
          color: #fff;
          font-size: 36px;
          line-height: 48px; }
        .theme-layout .case-studies .outer-container .sec-title p {
          color: #fff;
          display: block;
          font-size: 16px;
          line-height: 30px;
          margin: 0px; }
      .theme-layout .case-studies .outer-container .case-block-one .inner-box {
        position: relative;
        text-align: center; }
        .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box {
          position: relative;
          border-radius: 20px;
          overflow: hidden;
          background: #000000; }
          .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box img {
            width: 100%;
            border-radius: 20px;
            transition: all 500ms ease; }
          .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box .box {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); }
            .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box .box a {
              position: relative;
              display: inline-block;
              font-size: 30px;
              line-height: 30px;
              font-weight: 700;
              color: #fff;
              margin: 0px 25px;
              opacity: 0; }
              .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box .box a:hover {
                color: #00aeef; }
            .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box .box a:before {
              position: absolute;
              content: '';
              background: #fff;
              width: 2px;
              height: 30px;
              top: 4px;
              right: -28px;
              opacity: 0;
              transition: all 500ms ease; }
            .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box .box a:last-child {
              transform: translateX(10px); }
              .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box .box a:last-child:before {
                display: none; }
            .theme-layout .case-studies .outer-container .case-block-one .inner-box .image-box .box a:first-child {
              transform: translateX(-10px); }
        .theme-layout .case-studies .outer-container .case-block-one .inner-box .lower-content {
          position: relative;
          padding: 39px 15px 34px 15px;
          border-bottom: 1px solid #00aeef;
          transition: all 500ms ease;
          border-color: #fff; }
          .theme-layout .case-studies .outer-container .case-block-one .inner-box .lower-content h2 {
            position: relative;
            font-size: 30px;
            line-height: 40px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 6px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden; }
            .theme-layout .case-studies .outer-container .case-block-one .inner-box .lower-content h2 li a {
              display: inline-block;
              color: #fff; }
              .theme-layout .case-studies .outer-container .case-block-one .inner-box .lower-content h2 li a:hover {
                color: #00aeef; }
          .theme-layout .case-studies .outer-container .case-block-one .inner-box .lower-content .text {
            font-size: 16px;
            color: #fff;
            display: block;
            display: -webkit-box;
            width: 100%;
            height: 50px;
            margin: 0 auto;
            line-height: 25px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis; }
      .theme-layout .case-studies .outer-container .case-block-one:hover .inner-box .image-box img {
        opacity: 0.2;
        transform: scale(1.1); }
      .theme-layout .case-studies .outer-container .case-block-one:hover .inner-box .box a {
        opacity: 1;
        transform: translateX(0px) !important; }
        .theme-layout .case-studies .outer-container .case-block-one:hover .inner-box .box a:before {
          opacity: 1; }
    .theme-layout .case-studies .owl-nav {
      display: none; }
    .theme-layout .case-studies .owl-dots {
      position: relative;
      display: block;
      text-align: center;
      margin-top: 70px; }
    .theme-layout .case-studies .owl-theme .owl-dots .owl-dot span {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #00aeef;
      margin: 0px 5px;
      transition: all 500ms ease;
      cursor: pointer;
      border-radius: 0; }
      .theme-layout .case-studies .owl-theme .owl-dots .owl-dot span:hover {
        background: #fff;
        width: 30px; }
    .theme-layout .case-studies .owl-theme .owl-dots .active span {
      background: #fff;
      width: 30px; }
  .theme-layout .counter {
    position: relative;
    padding: 110px 0px 140px 0px;
    width: 100%; }
    .theme-layout .counter .bg-layer {
      background-image: url("../images/map.png");
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 90px;
      right: 0px;
      z-index: -1;
      background-repeat: no-repeat;
      background-position: center; }
    .theme-layout .counter .anim-icons-bg .icon-1 {
      left: 130px;
      top: 230px; }
    .theme-layout .counter .anim-icons-bg .icon-2 {
      right: 140px;
      top: 170px;
      -webkit-animation: zoom-fade 3s infinite linear;
      animation: zoom-fade 3s infinite linear; }
    .theme-layout .counter .anim-icons-bg .icon-3 {
      right: 100px;
      bottom: 0px; }
    .theme-layout .counter .counter-title {
      margin-bottom: 86px;
      position: relative;
      display: block; }
      .theme-layout .counter .counter-title h2 {
        margin-bottom: 60px;
        font-size: 36px;
        line-height: 48px; }
        .theme-layout .counter .counter-title h2:before, .theme-layout .counter .counter-title h2:after {
          left: 50%;
          transform: translateX(-50%); }
      .theme-layout .counter .counter-title p {
        text-align: center;
        display: block;
        font-size: 16px;
        line-height: 30px;
        color: #777;
        margin: 0px; }
    .theme-layout .counter .counter-block:nth-child(2) .counter-inner-box .count-outer span {
      color: #ff0303; }
    .theme-layout .counter .counter-block:nth-child(3) .counter-inner-box .count-outer span {
      color: #4aac24; }
    .theme-layout .counter .counter-block:last-child .counter-inner-box .count-outer span {
      color: #3c00ff; }
    .theme-layout .counter .counter-inner-box {
      position: relative;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      padding: 35px 20px;
      box-shadow: 15px 20px 30px 0px rgba(0, 0, 0, 0.1);
      margin: 30px auto !important;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .theme-layout .counter .counter-inner-box .layer-bg {
        background-image: url("../images/pattern1.png");
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background-repeat: no-repeat;
        border-radius: 50%;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
        transition: all 500ms ease; }
      .theme-layout .counter .counter-inner-box .count-outer span {
        position: relative;
        display: block;
        font-size: 35px;
        font-weight: 700;
        line-height: 70px;
        color: #4527a4;
        margin-bottom: 3px;
        transition: all 500ms ease; }
      .theme-layout .counter .counter-inner-box .text {
        position: relative;
        font-size: 20px;
        transition: all 500ms ease; }
      .theme-layout .counter .counter-inner-box:before {
        position: absolute;
        content: '';
        background: #4527a4;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        right: 0px;
        border-radius: 50%;
        transition: all 500ms ease;
        transform: scale(0, 0);
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3); }
      .theme-layout .counter .counter-inner-box:after {
        position: absolute;
        content: '';
        background: #fff;
        left: 0px;
        top: -5px;
        border-radius: 50%;
        box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
        z-index: -1; }
      .theme-layout .counter .counter-inner-box:hover .layer-bg {
        opacity: 0; }
      .theme-layout .counter .counter-inner-box:hover:before {
        transform: scale(1, 1); }
      .theme-layout .counter .counter-inner-box:hover .count-outer span, .theme-layout .counter .counter-inner-box:hover .text {
        color: #fff !important; }
  .theme-layout .testimonial {
    position: relative;
    padding: 110px 0px 100px 0px;
    width: 100%; }
    .theme-layout .testimonial .image-layer {
      background-image: url("../images/bg_testimonial.png");
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 80%;
      right: 0px;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat; }
    .theme-layout .testimonial .sec-title h2 {
      margin-bottom: 73px;
      font-size: 36px;
      line-height: 48px;
      color: #222222; }
    .theme-layout .testimonial .testimonial-carousel .testimonial-content {
      position: relative;
      text-align: center;
      margin: 80px 0px 50px 0px; }
      .theme-layout .testimonial .testimonial-carousel .testimonial-content .inner-box {
        position: relative;
        display: block;
        background: #fff;
        padding: 0px 30px 60px 30px;
        border-radius: 20px;
        box-shadow: 0 5px 30px 0px rgba(0, 0, 0, 0.1); }
        .theme-layout .testimonial .testimonial-carousel .testimonial-content .inner-box .author-info {
          position: relative;
          margin-bottom: 34px; }
          .theme-layout .testimonial .testimonial-carousel .testimonial-content .inner-box .author-info .image-box {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid #fff;
            margin-bottom: 26px;
            margin-top: -55px;
            box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1); }
            .theme-layout .testimonial .testimonial-carousel .testimonial-content .inner-box .author-info .image-box img {
              width: 100%;
              border-radius: 50%; }
          .theme-layout .testimonial .testimonial-carousel .testimonial-content .inner-box .author-info .name {
            position: relative;
            font-size: 18px;
            color: #4527a4;
            margin-bottom: 8px; }
          .theme-layout .testimonial .testimonial-carousel .testimonial-content .inner-box .author-info .designation {
            position: relative;
            font-size: 16px; }
      .theme-layout .testimonial .testimonial-carousel .testimonial-content .text {
        position: relative;
        font-size: 16px;
        margin-bottom: 15px; }
      .theme-layout .testimonial .testimonial-carousel .testimonial-content .icon-box {
        position: absolute;
        left: 50%;
        bottom: -30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        text-align: center;
        color: #fff;
        background: #4527a4;
        border-radius: 50%;
        transform: translateX(-50%); }
    .theme-layout .testimonial .owl-nav {
      display: none; }
    .theme-layout .testimonial .owl-dots {
      position: relative;
      display: block;
      text-align: center;
      margin-top: 50px !important; }
    .theme-layout .testimonial .owl-theme .owl-dots .owl-dot span {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #b7b7b7;
      border-radius: 50%;
      margin: 0px 5px;
      cursor: pointer;
      transition: all 500ms ease; }
      .theme-layout .testimonial .owl-theme .owl-dots .owl-dot span:hover {
        background: #4527a4; }
    .theme-layout .testimonial .owl-theme .owl-dots .active span {
      background: #4527a4; }
  .theme-layout .pricing {
    position: relative;
    padding: 0px 0px 220px 0px;
    width: 100%; }
    .theme-layout .pricing .sec-title h2 {
      margin-bottom: 73px;
      font-size: 36px;
      line-height: 48px; }
    .theme-layout .pricing .feature-inner h2 {
      position: relative;
      display: flex;
      font-size: 30px;
      line-height: 36px;
      color: #fc0000;
      padding: 15px;
      min-height: 248px;
      align-items: center;
      text-align: center; }
    .theme-layout .pricing .feature-inner .list {
      position: relative;
      border: 1px solid #e1e1e1; }
      .theme-layout .pricing .feature-inner .list li {
        position: relative;
        display: block;
        font-size: 16px;
        padding: 25px 15px 25px 60px;
        background: #f5f5f5; }
      .theme-layout .pricing .feature-inner .list li:nth-child(2n + 1) {
        background: #fff; }
    .theme-layout .pricing .pricing-inner {
      position: relative;
      border: 1px solid #e1e1e1; }
      .theme-layout .pricing .pricing-inner .pricing-table {
        position: relative;
        width: 33.333333%;
        float: left;
        text-align: center; }
        .theme-layout .pricing .pricing-inner .pricing-table .table-header {
          position: relative;
          padding: 47px 15px 38px 15px;
          border-bottom: 1px solid #e1e1e1;
          border-right: 1px solid #e1e1e1; }
          .theme-layout .pricing .pricing-inner .pricing-table .table-header .table-header-title {
            position: relative;
            display: block;
            font-size: 24px;
            line-height: 32px;
            color: #4527a4;
            text-transform: uppercase;
            margin-bottom: 17px; }
          .theme-layout .pricing .pricing-inner .pricing-table .table-header .table-header-price {
            position: relative;
            display: block;
            font-size: 72px;
            font-weight: 500;
            line-height: 70px;
            color: #3d415b;
            margin-bottom: 5px; }
            .theme-layout .pricing .pricing-inner .pricing-table .table-header .table-header-price span {
              font-size: 48px; }
          .theme-layout .pricing .pricing-inner .pricing-table .table-header .table-header-text {
            position: relative;
            display: block;
            font-size: 16px;
            text-transform: uppercase; }
        .theme-layout .pricing .pricing-inner .pricing-table .table-content ul {
          margin-bottom: 0; }
          .theme-layout .pricing .pricing-inner .pricing-table .table-content ul li {
            position: relative;
            display: block;
            font-size: 16px;
            padding: 25px 15px;
            color: #4527a4;
            background: #f5f5f5; }
          .theme-layout .pricing .pricing-inner .pricing-table .table-content ul li:nth-child(2n + 1) {
            background: #fff; }
        .theme-layout .pricing .pricing-inner .pricing-table .table-footer {
          position: absolute;
          left: 0px;
          bottom: -123px;
          width: 100%; }
          .theme-layout .pricing .pricing-inner .pricing-table .table-footer a {
            position: relative;
            display: inline-block;
            overflow: hidden;
            font-size: 18px;
            line-height: 30px;
            font-weight: 700;
            color: #4527a4;
            border: 1px solid #e1e1e1;
            text-align: center;
            border-radius: 30px;
            background: transparent;
            padding: 14px 30px;
            z-index: 1; }
            .theme-layout .pricing .pricing-inner .pricing-table .table-footer a:before {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              background-color: #fc0000;
              -webkit-transition: all 0.4s;
              -moz-transition: all 0.4s;
              -o-transition: all 0.4s;
              transition: all 0.4s;
              -webkit-transform: scale(0.2, 1);
              transform: scale(0.2, 1);
              z-index: -1; }
            .theme-layout .pricing .pricing-inner .pricing-table .table-footer a:hover {
              background: #fc0000;
              border-color: #fc0000;
              color: #fff; }
              .theme-layout .pricing .pricing-inner .pricing-table .table-footer a:hover::before {
                opacity: 1;
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1); }
  .theme-layout .check-website {
    position: relative;
    background: #4527a4;
    overflow: hidden;
    padding: 115px 0px;
    z-index: 1;
    width: 100%; }
    .theme-layout .check-website .vactor-bg .vactor-bg-1 {
      position: absolute;
      width: 437px;
      height: 528px;
      left: 0px;
      bottom: -15px;
      background-repeat: no-repeat;
      background-image: url("../images/vactor1.png");
      visibility: visible; }
    .theme-layout .check-website .vactor-bg .vactor-bg-2 {
      position: absolute;
      width: 783px;
      height: 553px;
      right: 0px;
      bottom: 0px;
      z-index: -1;
      background-repeat: no-repeat;
      background-image: url("../images/vactor2.png");
      visibility: visible; }
    .theme-layout .check-website .anim-icons {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      max-width: 1920px;
      margin: 0 auto; }
      .theme-layout .check-website .anim-icons .icon {
        position: absolute;
        background-position: center;
        background-repeat: no-repeat; }
        .theme-layout .check-website .anim-icons .icon img {
          height: auto;
          max-width: 100%;
          border: none;
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          display: inline-block;
          transition-delay: 0.1s;
          transition-timing-function: ease-in-out;
          transition-duration: 0.7s;
          transition-property: all; }
      .theme-layout .check-website .anim-icons .icon-1 {
        left: 0px;
        top: -200px;
        -webkit-animation: zoom-fade 5s infinite linear;
        animation: zoom-fade 5s infinite linear; }
    .theme-layout .check-website .inner-container {
      position: relative;
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      padding: 0px 15px;
      text-align: center; }
      .theme-layout .check-website .inner-container .sec-title {
        position: relative;
        display: block;
        margin-bottom: 86px; }
        .theme-layout .check-website .inner-container .sec-title h2 {
          color: #fff;
          margin-bottom: 50px;
          font-size: 36px;
          line-height: 48px; }
        .theme-layout .check-website .inner-container .sec-title p {
          color: #fff; }
      .theme-layout .check-website .inner-container .subscribe-form .form-group {
        position: relative;
        margin-bottom: 42px; }
        .theme-layout .check-website .inner-container .subscribe-form .form-group input {
          transition: all 500ms ease;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 400;
          font-size: 15px;
          overflow: visible;
          margin: 0 0 20px; }
        .theme-layout .check-website .inner-container .subscribe-form .form-group input[type='text'] {
          position: relative;
          width: 70%;
          height: 70px;
          background: #fff;
          border-radius: 40px;
          padding: 15px 230px 15px 50px;
          font-size: 16px;
          color: #777;
          border: 3px solid #fff;
          transition: all 500ms ease; }
        .theme-layout .check-website .inner-container .subscribe-form .form-group button {
          display: block;
          margin: auto;
          background: #4527a4;
          font-size: 18px;
          font-weight: 500;
          padding: 15px 30px;
          color: #fff;
          text-align: center;
          border-radius: 40px;
          width: 200px;
          height: 70px;
          cursor: pointer;
          transition: all 500ms ease;
          overflow: hidden;
          z-index: 1;
          border: 1px solid #fff; }
          .theme-layout .check-website .inner-container .subscribe-form .form-group button:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #fff;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -o-transition: all 0.4s;
            transition: all 0.4s;
            -webkit-transform: scale(0.2, 1);
            transform: scale(0.2, 1);
            z-index: -1; }
      .theme-layout .check-website .inner-container .text {
        position: relative;
        font-size: 16px;
        color: #dddddd; }
        .theme-layout .check-website .inner-container .text a {
          color: #ddd;
          font-weight: 700; }
  .theme-layout .clients {
    width: 100%;
    padding: 120px 0px 115px 0px;
    position: relative;
    text-align: center; }
    .theme-layout .clients .clients-title {
      position: relative;
      display: block; }
      .theme-layout .clients .clients-title h2 {
        margin-bottom: 60px;
        font-size: 36px;
        line-height: 48px; }
        .theme-layout .clients .clients-title h2:before, .theme-layout .clients .clients-title h2:after {
          left: 50%;
          transform: translateX(-50%); }
    .theme-layout .clients .clients-carousel {
      margin: 80px 0; }
      .theme-layout .clients .clients-carousel .image-box img {
        display: block;
        max-width: 100%;
        width: auto;
        margin: 0 auto;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease; }
      .theme-layout .clients .clients-carousel .owl-prev,
      .theme-layout .clients .clients-carousel .owl-next {
        position: absolute;
        top: 35%;
        width: 30px;
        height: 30px;
        margin: 0; }
      .theme-layout .clients .clients-carousel .owl-prev {
        left: -30px; }
      .theme-layout .clients .clients-carousel .owl-next {
        right: -30px; }
    .theme-layout .clients p.txt {
      text-align: center;
      display: block;
      font-size: 16px;
      line-height: 30px;
      color: #777;
      margin: 0px; }
  .theme-layout .free-estimate {
    position: relative;
    padding: 170px 0px 25px 0px;
    width: 100%; }
    .theme-layout .free-estimate .image-layer {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 478px;
      right: 0px;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      background-image: url("../images/bg_estimate.png"); }
    .theme-layout .free-estimate .inner-box .text h2 {
      position: relative;
      font-size: 36px;
      line-height: 60px;
      color: #222;
      font-weight: 500; }
    .theme-layout .free-estimate .inner-box .btn-box {
      margin-top: 33px; }
      .theme-layout .free-estimate .inner-box .btn-box .theme-btn-two {
        padding: 15px 30px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        background: #4527a4;
        border-radius: 30px;
        text-align: center;
        padding: 10px 30px;
        cursor: pointer;
        z-index: 1;
        transition: all 500ms ease; }
        .theme-layout .free-estimate .inner-box .btn-box .theme-btn-two:before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background-color: #fff;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          -webkit-transform: scale(0.2, 1);
          transform: scale(0.2, 1);
          z-index: -1; }
        .theme-layout .free-estimate .inner-box .btn-box .theme-btn-two:hover {
          background: #fff;
          border-color: #fff;
          color: #4527a4;
          box-shadow: 0 0 15px rgba(69, 39, 164, 0.5); }
          .theme-layout .free-estimate .inner-box .btn-box .theme-btn-two:hover::before {
            opacity: 1;
            -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }

.services .free-esti {
  position: relative;
  padding: 100px 0px 200px;
  width: 100%; }
  .services .free-esti .image-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    right: 0px;
    background-size: auto;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-image: url("../images/testimonial-bg.png"); }
  .services .free-esti .txt {
    color: #fff;
    text-align: center; }
.services .deal-section .single-item-check {
  display: flex;
  align-items: center;
  padding: 0; }
  .services .deal-section .single-item-check .icon {
    color: green;
    font-size: 30px;
    margin: 0 30px 0 0; }
.services .deal-section .single-item {
  padding: 0 0 0 60px !important; }

/*# sourceMappingURL=style.css.map */
